torch==1.7.0
rasterio==1.1.5
pandas==1.1.4
numpy==1.19.1
pyyaml==5.3.1
addict==2.2.1
scikit-image==0.15.0
scikit-learn==0.23.2
seaborn==0.11.1
random==3.9
time==3.6
glob2==0.7
GDAL==2.2.4
matplotlib==3.3.2
data==0.4
regex==2020.7.14
